button{
    margin-left: 50px;
    font-size: 20px;
    font-family: monospace;
    font-weight: bold;
}

.container{
    margin-left: 30px;
}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    ;
    font-size: 25px;;
    font-weight: bold;
}
li{
    font-size: 20px;
    font-family: monospace;
    font-weight: bold;
}
img{
    position: fixed;
}
