<div class="container-bg-light py-5">

    <h1 class="display-8 fw-bold" style="text-align: center;">Welcome to Online Test App<br> &nbsp; &nbsp;for Java Developers !!</h1><br><br>
   <p class="col-md-8 fs 10">This Quiz Contains Totals 10 Questions</p>
   <ol>
       
       <li> You have  5 minutes for the Quiz.</li>
       <li>Take your time and choose correct Answered.</li>
      
       
   </ol>
   
   
   
   <button class="btn btn-primary bnt-lg" routerLink="/login">Start Quiz !!</button>

  

<div> <p style="font-family: cursive; font-weight: 20px; text-align: center;">Good Luck for your Quiz !!</p></div>

