<div class="container-bg-light py-5">

    <h1 class="display-8 fw-bold">Welcome to Online Test App</h1>
   <p class="col-md-8 fs 10">This quiz contains Totals 15 Questions</p>
   <ol>
       <li>On One Correct Answer You will get 10 point.</li>
       <li>Incorrect Answer gives  you -10 point.</li>
       <li> You will get 60 seconds for each question.</li>
       <li>Refreshing the page will reset the Quiz</li>
       
   </ol>
   
   
   <button class="btn btn-primary bnt-lg" routerLink="/quiz">Start Quiz !!</button>
<div class="container text-center"> <img src="/assets/images/banner.jpg" class="rounded mx-auto" alt="" width="250"></div>

